body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("background.jpg");
    background-size: cover; 
    /* 배경을 요소보다 크게 <> contain은 그 반대 */
    overflow: hidden;
    /* 요소 내 콘텐츠 크기 설정 
    overflow: visible; // 요소보다 크면 삐져 나와 보임
    overflow: hidden; // 요소보다 큰 부분은 잘려서 안 보임
    overflow: scroll; // 스크롤돼서 보임(가로, 세로 모두 됨)
    overflow: auto; // 스크롤 할지 말지 자동 결정
    */
    
}
/* 카드의 전체적인 설정 부분 */
.card {
    display: grid;
    grid-template-columns: 350px; /* 컬럼은 열. 세로로 1개짜리 */
    /* 
    grid-template-rows: 210px 250px 20px; // 로우는 행. 가로로 3개다.
    사진 / 텍스트 / 상태창 
    grid-template-areas: "image" "text" "stats"; // 위와 매칭
    grid-template-rows: 210px 250px 20px;
    */ 
    grid-template-rows: 600px;
    grid-template-areas: "image";
    border-radius: 18px; /* 카드 모퉁이 곡률 */
    background: #1d1d1d;
    color: white;
    box-shadow: 5px rgba(0,0,0,0.9);
    font-family: roboto;
    /*text-align: justify; */
    margin: 3px;
    transform-style: preserve-3d; /* 평면을 3d 입체적으로 설정 */
    transform: perspective(1000px);
     /* 원근법 적용. 이걸 적용해야 tranlateZ가 먹힌다고 함. */

     
}
.rgb::after {
    content: "";
    background: linear-gradient(90deg, 
    #ff0000 0%,
    #ff9a00 10%,
    #d0de21 20%,
    #4fdc4a 30%,
    #3fdad8 40%,
    #2fc9e2 50%,
    #1c7f22 60%,
    #5f15f2 70%,
    #ba0cf8 80%,
    #fb07d9 90%,
    #ff0000 100% )
    repeat 0% 0% / 300% 100%;
    position: absolute;
    /* 위치 지정인데 기본값은 static이고 
    relative는 static 상태 기준으로 픽셀 이동
    absolute는 static 속성이 없는 부모 값 기준으로 픽셀 이동
    fixed는 항상 그 자리에 고정. 내비게이션바나 그런 것들 
    스크롤과 관계 없이 고정시킬 때 사용
    */
    inset: -10px;
    border-radius: 3px;
    filter: blur(18px);
    transform: translateZ(-1px);
    animation: rgb 6s linear infinite; 
    /* 빛 흐르는 효과가 느려짐. 잘게 쪼개져서 그런가? */
}
@keyframes rgb {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
.js-tilt-glare {
    border-radius: 18px;
}
.card-image {
    grid-area: image;
    background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%), url("img5.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /* 이미지 모퉁이 곡률 */
    background-size: cover;
}

.btn {
    position: absolute;
    top: 500px;
    left: 10px;
    background: transparent;
    border: 0;
    outline: 0;
    
  }

  .btn1 {
    position: absolute;
    top: 500px;
    left: 93px;
    background: transparent;
    border: 0;
    outline: 0;
    
  }

  .btn2 {
    position: absolute;
    top: 500px;
    left: 175px;
    background: transparent;
    
    border: 0;
    outline: 0;
    
  }

  .btn3 {
    position: absolute;
    top: 500px;
    left: 255px;
    background: transparent;
    border: 0;
    outline: 0;
    
  }

  .btn4 {
    position: absolute;
    top: 50px;
    left: 10px;
    background: transparent;
    border: 0;
    outline: 0;
    
  }

  .btn5 {
    position: absolute;
    top: 50px;
    left: 93px;
    background: transparent;
    border: 0;
    outline: 0;
    
  }

  .btn6 {
    position: absolute;
    top: 50px;
    left: 175px;
    background: transparent;
    border: 0;
    outline: 0;
    
  }


.btn:active, .btn1:active, .btn2:active, .btn3:active, .btn4:active, .btn5:active, .btn6:active{
    /* background-color: rgba(146, 146, 146, 0.664) */
    /* background-color: #1d1d1d; */
    /* box-shadow: 0 5px #666; */
    transform: translateY(3px);
    
   
}


.img {
    width: 70px;
    height: 70px;
}

.img1 {
    position: absolute;
    top: 13px;
    left: 290px;
    width: 15px;
    height: 15px;

}

.img2 {
    position: absolute;
    top: 13px;
    left: 310px;
    width: 20px;
    height: 20px;

}

.img3 {
    position: absolute;
    top: 13px;
    left: 265px;
    width: 20px;
    height: 20px;

}


.img4 {
  position: absolute;
  top: 8px;
  left: 15px;
  width: 35px;
  height: 30px;

}